<footer class="bg-dark text-center p-4">
  
  <p class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis facere suscipit, temporibus nobis iusto vel quasi. Enim nihil modi quia accusamus sed natus totam consectetur, eius ea quisquam doloribus repellat expedita nulla, similique perspiciatis, eos facilis vero rem ab minus necessitatibus! Suscipit enim non consequuntur excepturi dicta corrupti nulla veritatis aperiam quasi id quo eius rerum aliquid minima totam quibusdam, ex velit eligendi possimus earum reiciendis cum? Quas tenetur, beatae optio dolores ipsa illum repudiandae autem ab dignissimos vero minus obcaecati iusto. Totam mollitia ad at inventore doloribus. Veritatis quos recusandae doloremque doloribus at nisi sed nostrum quibusdam quis debitis.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>