<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 d-flex text-center justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odio assumenda, dicta, deserunt nisi asperiores minima tempore in ullam vero, obcaecati nam repellat! Delectus quam pariatur totam assumenda, quis officia magni vitae nemo ab recusandae illum ut beatae ea minima suscipit fuga fugit ratione accusantium necessitatibus consequuntur. Ut, obcaecati labore dolorum aspernatur possimus qui beatae sunt, quo nostrum numquam, quibusdam aliquid est odit suscipit corporis placeat assumenda iure saepe maiores. Laboriosam voluptatum nemo aliquam, veritatis officia maiores nobis nulla illo odio animi voluptas tempore qui provident. Illum animi tenetur quis nesciunt earum incidunt. Molestiae expedita ducimus totam magni omnis voluptatem, velit fuga repellat atque commodi ea quidem odio dolor, cupiditate nesciunt eveniet illo quae deleniti dignissimos, autem aspernatur et fugit aliquid iure! Asperiores, ipsa! Blanditiis vel consequuntur odio ducimus dolore eum veritatis cupiditate quaerat quo. Ipsum ex dicta officiis? Iusto et, pariatur natus hic architecto veritatis perspiciatis itaque molestias ut odit eligendi dolor ipsa? Iste quaerat inventore dicta dignissimos voluptatem, eos distinctio obcaecati ea cum autem deleniti eligendi expedita. Vel ratione soluta facilis et illo fugiat sequi aperiam quidem quaerat quas, necessitatibus, consequuntur ex asperiores, accusantium tenetur exercitationem quos iure! Sunt voluptatum tempora voluptatem velit inventore eligendi placeat ipsum rem.</p>
      </section>
    </main>
  </body>
</html>
