<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %> 
  </head>
  <body>
    
    <%- include('partials/navigation') %> 
    
    <!-- MAIN CONTENT-->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/images/kisspng2.png" alt="Logo empresa" class="w-25">
      <h1 class="display-3 my-5 text-uppercase fw-bold">Planet Express</h1>
      <a href="/about" class="btn btn-primary w-25">About</a>
    </div>

    </header>

    <%- include('partials/footer') %> 
  </body>
</html>
